In [22]:
import pandas as pd
from surprise import Reader

In [23]:
file_path2 = '/Users/rogerlbcn/Library/CloudStorage/OneDrive-Personal/Python_Projects/Movies_RecSys/Movies_RecSys/ml-25m/ratings.csv'
# ratings_df_s = pd.read_csv(file_path2, nrows=1000000) # NOTE: The kernel doesn't crush with 1M observations
ratings_df_s = pd.read_csv(file_path2, nrows=5000000) # Using 5 Million observations

## Inspecting dataset

In [24]:
ratings_df_s

         userId  movieId  rating   timestamp
0             1      296     5.0  1147880044
1             1      306     3.5  1147868817
2             1      307     5.0  1147868828
3             1      665     5.0  1147878820
4             1      899     3.5  1147868510
...         ...      ...     ...         ...
4999995   32564    54259     3.5  1337991854
4999996   32564    56367     3.5  1337991737
4999997   32564    64614     4.5  1337991044
4999998   32564    64620     3.5  1337992055
4999999   32564    66665     3.5  1337992723

[5000000 rows x 4 columns]

In [25]:
rating_count = ratings_df_s.count()
rating_count

userId       5000000
movieId      5000000
rating       5000000
timestamp    5000000
dtype: int64

In [26]:
ratings_df_s.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [27]:
ratings_df_s.describe()

             userId       movieId        rating     timestamp
count  5.000000e+06  5.000000e+06  5.000000e+06  5.000000e+06
mean   1.653277e+04  2.162420e+04  3.531443e+00  1.216921e+09
std    9.412794e+03  3.952561e+04  1.063327e+00  2.276145e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    8.455000e+03  1.197000e+03  3.000000e+00  1.013909e+09
50%    1.665800e+04  2.951000e+03  3.500000e+00  1.196567e+09
75%    2.473700e+04  8.641000e+03  4.000000e+00  1.449384e+09
max    3.256400e+04  2.091630e+05  5.000000e+00  1.574328e+09

In [28]:
ratings_df_s = ratings_df_s.drop(columns=['timestamp'])  # Features excluding 'movieId'

In [29]:
ratings_df_s

         userId  movieId  rating
0             1      296     5.0
1             1      306     3.5
2             1      307     5.0
3             1      665     5.0
4             1      899     3.5
...         ...      ...     ...
4999995   32564    54259     3.5
4999996   32564    56367     3.5
4999997   32564    64614     4.5
4999998   32564    64620     3.5
4999999   32564    66665     3.5

[5000000 rows x 3 columns]

In [30]:
ratings_df_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 114.4 MB

In [31]:
ratings_df_s['rating'].unique()

array([5. , 3.5, 4. , 2.5, 4.5, 3. , 0.5, 2. , 1. , 1.5])

In [32]:
for i in ratings_df_s:
    print(i)

userId
movieId
rating

In [33]:
from surprise import Dataset
from surprise import Reader

# Define a Reader object specifying the rating scale
reader = Reader(rating_scale=(0, 5))  # Assuming your ratings range from 1 to 5

data = Dataset.load_from_df(ratings_df_s[['userId', 'movieId', 'rating']], reader)

In [34]:
data

In [35]:
len(ratings_df_s)

5000000

In [36]:
from surprise.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

## Creating and fitting the model (`KNNBasic`)

This model `KNNBasic` with 5M overvations took 13 min 47 sec to run

In [37]:
from surprise import KNNBasic

# Initialize the model (you can use any other algorithm as well)
model = KNNBasic()

# Train the model on the training set
model.fit(train_set)

Computing the msd similarity matrix...
Done computing similarity matrix.

## Creating predictions on the test set

It took a bit over 16 min to get the predictions

In [38]:
# Creating some predicitons on the test set:

predictions = model.test(test_set)
predictions[:5] # showing the first 5

[Prediction(uid=23433, iid=595, r_ui=3.0, est=3.9375, details={'actual_k': 40, 'was_impossible': False}),
 Prediction(uid=19718, iid=164909, r_ui=2.5, est=4.289689069233612, details={'actual_k': 40, 'was_impossible': False}),
 Prediction(uid=31776, iid=413, r_ui=3.0, est=2.6866965042390167, details={'actual_k': 40, 'was_impossible': False}),
 Prediction(uid=30197, iid=31658, r_ui=3.0, est=4.086720237723111, details={'actual_k': 40, 'was_impossible': False}),
 Prediction(uid=15526, iid=780, r_ui=5.0, est=3.93428502405989, details={'actual_k': 40, 'was_impossible': False})]

In [39]:
### Using the ur method ###
# Checking user 890's ratings 

train_set.ur[890]

[(189, 3.0),
 (2706, 4.0),
 (12, 5.0),
 (524, 5.0),
 (7897, 2.0),
 (871, 4.0),
 (922, 4.0),
 (3459, 4.0),
 (5325, 5.0),
 (3192, 4.0),
 (2199, 5.0),
 (1493, 4.0),
 (34, 3.0),
 (3297, 4.0),
 (663, 4.0),
 (1829, 5.0),
 (4845, 2.0),
 (604, 4.0),
 (1551, 3.0),
 (937, 3.0),
 (784, 5.0),
 (1818, 4.0),
 (4518, 4.0),
 (2725, 4.0),
 (1642, 5.0),
 (2275, 3.0),
 (3434, 3.0),
 (2097, 5.0),
 (773, 3.0),
 (798, 4.0),
 (1500, 4.0),
 (10708, 3.0),
 (10577, 4.0),
 (1631, 5.0),
 (5113, 3.0),
 (931, 3.0),
 (6444, 5.0),
 (1024, 3.0),
 (1866, 3.0),
 (470, 5.0),
 (4439, 4.0),
 (792, 4.0),
 (3075, 4.0),
 (1938, 3.0),
 (778, 4.0),
 (1405, 3.0),
 (5084, 4.0),
 (1680, 4.0),
 (131, 5.0),
 (2638, 3.0),
 (4285, 4.0),
 (605, 5.0),
 (818, 4.0),
 (1957, 5.0),
 (4497, 4.0),
 (1612, 4.0),
 (2370, 5.0),
 (1045, 3.0),
 (607, 4.0),
 (138, 4.0),
 (2052, 2.0),
 (133, 3.0),
 (3040, 3.0),
 (343, 4.0),
 (195, 5.0),
 (4060, 4.0),
 (596, 5.0),
 (3176, 4.0),
 (416, 5.0),
 (7210, 4.0),
 (2568, 4.0),
 (320, 3.0),
 (1900, 4.0),
 (1249, 3.0),
 (121, 4.0),
 (6898, 3.0),
 (4190, 4.0),
 (7863, 2.0),
 (4781, 5.0),
 (938, 5.0),
 (3130, 3.0),
 (1746, 4.0),
 (2649, 4.0),
 (616, 4.0),
 (69, 4.0),
 (3073, 4.0),
 (4404, 4.0),
 (74, 4.0),
 (768, 4.0),
 (2277, 5.0),
 (291, 4.0),
 (1234, 4.0),
 (4234, 4.0),
 (405, 5.0),
 (1601, 4.0),
 (1489, 5.0),
 (2144, 4.0),
 (1007, 4.0),
 (371, 5.0),
 (1213, 4.0),
 (2667, 3.0),
 (3789, 4.0),
 (686, 3.0),
 (1051, 4.0),
 (1194, 4.0),
 (1248, 5.0),
 (1161, 4.0),
 (451, 4.0),
 (1476, 5.0),
 (1016, 5.0),
 (3824, 5.0),
 (514, 2.0),
 (705, 4.0),
 (9695, 3.0),
 (1288, 4.0),
 (516, 2.0),
 (68, 5.0),
 (6286, 4.0),
 (2510, 5.0),
 (28, 5.0),
 (787, 4.0),
 (204, 2.0),
 (2789, 4.0),
 (4016, 3.0),
 (2322, 4.0),
 (1314, 3.0),
 (2190, 3.0),
 (863, 4.0),
 (372, 4.0),
 (72, 4.0),
 (3830, 4.0),
 (4200, 3.0),
 (764, 4.0),
 (487, 4.0),
 (579, 5.0),
 (2549, 5.0),
 (2543, 4.0),
 (3228, 2.0),
 (1504, 3.0),
 (1337, 4.0),
 (3921, 4.0),
 (3770, 5.0),
 (2065, 5.0),
 (2771, 4.0),
 (7157, 4.0),
 (232, 3.0),
 (5572, 3.0),
 (1226, 5.0),
 (455, 4.0),
 (2256, 3.0),
 (453, 2.0),
 (1239, 4.0),
 (1366, 5.0),
 (13098, 5.0),
 (2009, 4.0),
 (4620, 3.0),
 (1787, 3.0),
 (2966, 4.0),
 (3520, 4.0),
 (149, 5.0),
 (3849, 2.0),
 (5258, 5.0),
 (8186, 1.0),
 (439, 4.0),
 (774, 4.0),
 (1813, 4.0),
 (854, 4.0),
 (3544, 5.0),
 (2314, 4.0),
 (2552, 3.0),
 (7050, 4.0),
 (438, 4.0),
 (4320, 4.0),
 (3380, 3.0),
 (1059, 4.0),
 (219, 3.0),
 (166, 3.0),
 (2268, 4.0),
 (1434, 4.0),
 (1159, 5.0),
 (1462, 4.0),
 (287, 3.0),
 (886, 2.0),
 (750, 5.0),
 (2131, 5.0),
 (284, 3.0),
 (1692, 4.0),
 (1384, 3.0),
 (1556, 5.0),
 (7, 4.0),
 (1859, 5.0),
 (20, 3.0),
 (555, 4.0),
 (200, 3.0),
 (1436, 4.0),
 (1738, 3.0),
 (170, 4.0),
 (571, 4.0),
 (822, 5.0),
 (2038, 4.0),
 (2034, 4.0),
 (1982, 3.0),
 (42, 3.0),
 (1246, 3.0),
 (4874, 2.0),
 (9710, 3.0),
 (3396, 4.0),
 (464, 4.0),
 (584, 4.0),
 (6259, 5.0),
 (1725, 4.0),
 (510, 4.0),
 (2371, 4.0),
 (22, 4.0),
 (2580, 4.0),
 (4476, 4.0),
 (4196, 4.0),
 (368, 4.0),
 (810, 5.0),
 (2837, 4.0),
 (1341, 4.0),
 (1917, 5.0),
 (846, 4.0),
 (4951, 4.0),
 (160, 5.0),
 (1418, 3.0),
 (424, 4.0),
 (308, 3.0),
 (1940, 5.0),
 (814, 4.0),
 (147, 4.0),
 (4446, 3.0),
 (2044, 4.0),
 (5039, 2.0),
 (1944, 3.0),
 (6337, 2.0),
 (251, 3.0),
 (583, 2.0),
 (2246, 4.0),
 (3993, 3.0),
 (597, 4.0),
 (2556, 5.0),
 (726, 3.0),
 (10228, 5.0),
 (101, 5.0),
 (2239, 2.0),
 (688, 5.0),
 (411, 3.0),
 (731, 4.0),
 (1295, 5.0),
 (4535, 4.0),
 (2800, 4.0),
 (1003, 5.0),
 (825, 4.0),
 (1058, 5.0),
 (1192, 4.0),
 (4262, 2.0),
 (852, 3.0),
 (428, 4.0),
 (2827, 4.0),
 (11358, 2.0),
 (1811, 4.0),
 (4039, 5.0),
 (743, 4.0),
 (1189, 4.0),
 (1972, 4.0),
 (1475, 5.0),
 (4209, 3.0),
 (534, 4.0),
 (552, 5.0),
 (2145, 4.0),
 (3510, 5.0),
 (724, 4.0),
 (316, 4.0),
 (15633, 3.0),
 (5218, 5.0),
 (633, 4.0),
 (220, 5.0),
 (1198, 4.0),
 (504, 4.0),
 (3095, 2.0),
 (2518, 4.0),
 (1115, 3.0),
 (1422, 4.0),
 (7201, 5.0),
 (897, 3.0),
 (2273, 4.0),
 (4147, 3.0),
 (1368, 4.0),
 (658, 4.0),
 (1753, 4.0),
 (2686, 4.0),
 (3668, 3.0),
 (3431, 3.0),
 (1819, 4.0),
 (2349, 4.0),
 (243, 4.0),
 (77, 4.0),
 (4930, 2.0),
 (2431, 3.0),
 (2369, 3.0),
 (5037, 4.0),
 (337, 5.0),
 (1581, 4.0),
 (1709, 4.0),
 (625, 5.0),
 (4611, 4.0),
 (1668, 4.0),
 (391, 3.0),
 (1217, 4.0),
 (867, 5.0),
 (835, 3.0),
 (2829, 4.0),
 (8517, 3.0),
 (1485, 3.0),
 (4225, 3.0),
 (1663, 4.0),
 (2823, 4.0),
 (2573, 4.0),
 (587, 4.0),
 (2353, 4.0),
 (1584, 4.0),
 (1023, 2.0),
 (328, 3.0),
 (94, 4.0),
 (181, 5.0),
 (227, 3.0),
 (5637, 4.0),
 (531, 4.0),
 (7846, 4.0),
 (205, 4.0),
 (586, 4.0),
 (5464, 5.0),
 (7648, 2.0),
 (657, 3.0),
 (0, 4.0),
 (3432, 5.0),
 (21, 4.0),
 (207, 3.0),
 (8772, 3.0),
 (1873, 4.0),
 (6706, 3.0),
 (1343, 4.0)]

In [40]:
# Calculating the RMSE of the RecSys Model:
from surprise import accuracy

accuracy.rmse(predictions)

RMSE: 0.9000

0.9000257907774956

In [43]:
import matplotlib.pyplot as plt

# List of K values for K-Nearest Neighbors
k_values = [5, 10, 15, 20, 25]
rmse_scores = []

for k in k_values:
    model = KNNBasic(k=k, sim_options={'name': 'cosine', 'user_based': True})
    model.fit(train_set)
    predictions = model.test(test_set)
    rmse = accuracy.rmse(predictions)
    rmse_scores.append(rmse)

# Plotting
plt.figure(figsize=(8, 4))
plt.plot(k_values, rmse_scores, marker='o', linestyle='-', color='b')
plt.title('RMSE vs. Number of Neighbors (K)')
plt.xlabel('Number of Neighbors (K)')
plt.ylabel('RMSE')
plt.grid(True)
plt.show()

In [41]:
from surprise import SVD
from surprise import accuracy

In [42]:
svd_recommender = SVD()
svd_recommender.fit(train_set)

svd_predictions = svd_recommender.test(test_set)

accuracy.rmse(svd_predictions)

RMSE: 0.8005

0.8005130364986649